:root {
  --color-dark-gray: rgb(32, 30, 30);
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #d2e12c;
  --color-blue: #6a83fb;
  --color-violet: #ae72c2;

  --spacing-xs: 0.5vw;
  --spacing-small: 1vw;
  --spacing-medium: 2vw;
  --spacing-large: 5vw;

  --transition: 0.4s;
  --font-family-main: sans-serif;
  --font-size-main: 16px;
  --font-size-header: 26px;
  --font-size-subheader: 20px;

  --font-bold: 600;

  --text-shadow-yellow: 0 0 2px var(--color-white), 0 0 40px var(--color-yellow);
  --text-shadow-blue: 0 0 2px var(--color-white), 0 0 40px var(--color-blue);
  --text-shadow-black: 0 0 2px var(--color-white), 0 0 40px var(--color-black);


  --border-radius-xs: 3px;
  --border-radius-small: 8px;
  --border-radius-medium: 12px;

  --margin-list: 7px;
  --width-max: 1200px;
  --theme-default-header: #cccc46;
  --theme-default-bgimage: url(@static/bg.jpeg);
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  background-color: var(--color-dark-gray);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;

}

img{
  display: block;
}

.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}
