:root {
  --main-bg-color: rgb(32, 30, 30);
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #d2e12c;

  --spacing-medium: 2vw;

  --font-family-main: sans-serif;
  --font-size-header: 26px;

  --border-radius-small: 8px;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: var(--font-family-main);
}